@model IEnumerable<Fillager.Models.Files.File>


<div class="list-group">
    @if (Model.Any())
    {
        foreach (var file in Model)
        {
            <div class="clearfix panel list-group-item hoverable">
                <span>@file.FileName</span>


                <span class="pull-right">
                    <a id="file-dl-@file.FileId" asp-controller="Fillager" asp-action="DownloadFile" asp-route-id="@file.FileId" class="btn btn-xs btn-info">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a>
                    <span class="btn btn-xs btn-info">
                        <span class="glyphicon glyphicon-link copyBtn" data-clipboard-text="@Url.Action("DownloadFile", "Fillager", null, "http")/@file.FileId"></span>
                    </span>
                    @if (ViewBag.Editable)
                    {
                        <a asp-controller="Fillager"
                           asp-action="EditFilePopup"
                           asp-route-fileId="@file.FileId"
                           data-target="#modal-container"
                           data-toggle="modal"
                           class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a asp-controller="Fillager"
                           asp-action="DeletePopup"
                           asp-route-fileId="@file.FileId"
                           data-target="#modal-container"
                           data-toggle="modal"
                           class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    }
                </span>

            </div>
        }
    }
    else
    {
        <p class="list-group-item">No files here yet</p>
    }
</div>