@model Fillager.ViewModels.FileListViewModel


<div class="list-group">
    @if (Model.Files.Any())
    {
        foreach (var file in Model.Files)
        {
            <div class="clearfix panel list-group-item hoverable">
                <span>@file.FileName</span>
                @if (Model.ShowPublicMarker)
                    {
                        if (file.IsPublic)
                        {
                        <span class="label label-danger" title="anyone can download this file">public</span>
                    }
                    else
                    {
                        <span class="label label-info" title="only you can download this file">private</span>
                    }
                }

                <span class="pull-right">
                    <a id="file-dl-@file.FileId" asp-controller="Fillager" asp-action="DownloadFile" asp-route-id="@file.FileId" class="btn btn-xs btn-info">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a>
                    <span class="btn btn-xs btn-info">
                        <span class="glyphicon glyphicon-link copyBtn" data-clipboard-text="@Url.Action("DownloadFile", "Fillager", null, "http")/@file.FileId"></span>
                    </span>
                    @if (Model.Editable)
                    {
                        <a asp-controller="Fillager"
                           asp-action="EditFilePopup"
                           asp-route-fileId="@file.FileId"
                           data-target="#modal-container"
                           data-toggle="modal"
                           class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                            <a asp-controller="Fillager"
                               asp-action="DeletePopup"
                               asp-route-fileId="@file.FileId"
                               data-target="#modal-container"
                               data-toggle="modal"
                               class="btn btn-xs btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                    }
                    <input name="checkbox" value="@file.FileId" class="check" type="checkbox">
                </span>

            </div>
        }
    }
    else
    {
        <p class="list-group-item">No files here yet</p>
    }
</div>