@model Fillager.ViewModels.TransferWindowViewModel
@{
    ViewData["Title"] = "Home";
    var privateFiles = Model.PrivateFiles;
    var publicFiles = Model.PublicFiles;
}

<div class="page-header">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Upload Files</div>
            <div class="panel-group">
                <form asp-action="UploadFiles"
                      asp-controller="Fillager"
                      method="post"
                      enctype="multipart/form-data">
                    <input type="file" name="files" multiple/>
                    <input type="submit" value="Upload Selected Files"/>
                </form>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#privateFileList">Your Files</a>
                </h4>
            </div>
            <div id="privateFileList" class="panel-collapse list-group collapse in">
                @if (privateFiles.Any())
                {
                    foreach (var file in privateFiles)
                    {
                        <div class="clearfix panel list-group-item hoverable">
                            <span>@file.FileName</span>
                            <span class="pull-right">
                                <a id="file-dl-@file.FileId" asp-controller="Fillager" asp-action="DownloadFile" asp-route-id="@file.FileId" class="btn btn-xs btn-info">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </a>
                                <span class="btn btn-xs btn-info">
                                    <span class="glyphicon glyphicon-link copyBtn" data-clipboard-text="@Url.Action("DownloadFile", "Fillager",null,protocol:"http")/@file.FileId"></span>
                                </span>
                                <a asp-controller="Fillager"
                                   asp-action="EditFilePopup"
                                   asp-route-fileId="@file.FileId"
                                   data-target="#modal-container"
                                   data-toggle="modal"
                                   class="btn btn-xs btn-warning">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                
                                <a  asp-controller="Fillager"
                                    asp-action="DeletePopup"
                                    asp-route-fileId="@file.FileId"
                                    data-target="#modal-container"
                                    data-toggle="modal"
                                    class="btn btn-xs btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </span>
                        </div>
                    }

                }
                else
                {
                    <p class="list-group-item">No files here yet</p>
                }
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#publicFileList">Public Files</a>
                </h4>
            </div>
            <div id="publicFileList" class="panel-collapse list-group collapse in">
                @if (publicFiles.Any())
                {
                    foreach (var file in publicFiles)
                    {
                        <a class="list-group-item" asp-controller="Fillager" asp-action="DownloadFile" asp-route-id="@file.FileId">@file.FileName</a>
                    }
                }
                else
                {
                    <p class="list-group-item">No files here yet</p>
                }
            </div>
        </div>
    </div>
</div>

<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>


<style>
    .hoverable:hover {
        background-color: #ecf0f1;
    }
</style>
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script>
        new Clipboard('.copyBtn');
    </script>
     
    <script>
        $(function () {
            // when the modal is closed
            $('#modal-container').on('hidden.bs.modal', function () {
                // remove the bs.modal data attribute from it
                $(this).removeData('bs.modal');
                // and empty the modal-content element
                $('#modal-container .modal-content').empty();
            });
        });
    </script>
}

